.responsive-carousel {
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  display: none;
  transition: opacity 0.5s;
}

.carousel-slide.active {
  display: block;
}

.content {
  padding: 20px;
  text-align: center;
}

.image {
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
